.container-login {
  background: url(../image/frame-harirak-UR_mNYmpwco-unsplash.jpg) no-repeat;
  min-height: 730px;
  padding-top: 100px;
}

.login-form {
  background-color: white;
  width: 800px;

  padding: 15px;
  margin: auto;
  height: 100%;
  border: solid 1px;
}

h2 {
  text-align: center;
  color: #0ac1a5;
}
